.well2 {
    padding-bottom: 69px;
    padding-top: 49px;
}
.h2 {
    font-size: 46px;
}
h2, .h2 {
    line-height: 1.11111;
    letter-spacing: -1px;
    font-family: 'Open Sans',sans-serif;
font-weight: 900;
margin: 0px;
text-transform: uppercase;}
h2 small, .h2 small {
    font-weight: 300;
    
    .row {
    margin-left: -15px;
    margin-right: -15px;
}
* + .offs1 {
    margin-top: 40px;
}

.row::before, .row::after, .form-horizontal .form-group::before, .form-horizontal .form-group::after, .btn-toolbar::before, .btn-toolbar::after, .btn-group-vertical > .btn-group::before, .btn-group-vertical > .btn-group::after, .nav::before, .nav::after, .navbar::before, .navbar::after, .navbar-header::before, .navbar-header::after, .navbar-collapse::before, .navbar-collapse::after, .pager::before, .pager::after, .panel-body::before, .panel-body::after, .modal-footer::before, .modal-footer::after {
    content: " ";
    display: table;
}

ul, ol {
    padding: 0px;
    list-style: outside none none;
    margin: 0px;}
.link-list li {
    font-size: 18px;}
    
ul li a, ol li a {
    padding: 0px;
    list-style: outside none none;
    margin: 0px;
}
a {
    font: inherit;
    color: inherit;
    text-decoration: none;
    transition: all 0.2s ease 0s;
}
a {
    background-color: transparent;}



